*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Logs
logs
games/pepelac/players_config
games/tic-tac-toe/players_config
commands

# Databases
*.db

# Uploaded files
public/
